/* App.css */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 스크롤바 방지 */
}

.map-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  display: block;
  user-select: none; /* 텍스트 선택 방지 */
}
