@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

html,
body,
#root,
* {
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 스크롤바가 생기는 것을 방지 */
}

/* 지도 컨테이너 자체의 스타일 */
.leaflet-container {
  width: 100%;
  height: 100vh; /* Viewport Height 기준 100% */
}
